<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/home.css'>
    <link rel="stylesheet" href='/css/register.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
    <title>Proyecto Liebre</title>
</head>

<body>
    <header>
        <!--Logo, barra de busqueda y anuncio-->
        <section class="main-header-top-bar">
            <article>
                <h2 class="main-header-mobile"></h2>
                <figure>
                    <a href="/"><img src="images/logo-mercado-liebre.svg" class="logo" alt=""></a>
                </figure>
                <form action="text" method="post" target="_blank">
                    <p>
                        <input type="search" placeholder="Buscar productos, marcas y más">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </p>
                </form>
            </article>
            <p class="compra"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <!--Menu navegacion-->
        <nav>
            <ul id="navbar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul id='cuenta'>
                <li><a href="/register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <!--Icono burger-->
        <section class="iconos" id="bars">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        </section>
    </header>

    <main>

        <form>

            <fieldset class="usuario">
                <legend>Crea tu usuario</legend>
                <input type="text" name="name" id="name" required placeholder="Nombre y apellidos">
                <input type="text" name="user" id="user" required placeholder="Nombre de usuario">
                <input type="email" name="email" id="email" required placeholder="Nombre de usuario">
            </fieldset>

            <fieldset class="nacimiento">
                <legend>Fecha de nacimiento</legend>
                <input type="date" name="birthdate" id="birthdate" required placeholder="mm/dd/yyyy">
                <input type="text" name="address" id="address" required placeholder="Domicilio">
            </fieldset>

            <fieldset class="perfil">
                <legend>Perfil del usuario</legend>
                <div class="buyer">
                    <input type="radio" name="user" id='buyer'>
                    <label for='buyer'> Comprador</label>
                </div>
                <div class="seller">
                    <input type="radio" name="user" id="seller">
                    <label for="seller"> Vendedor</label>
                </div>
            </fieldset>

            <fieldset class="interes">
                <legend>Intereses</legend>
                <div class='electro'>
                    <input type="checkbox" name="electro" id='electro'>
                    <label for='electro'>Electro</label>
                </div>

                <div class='moda'>
                    <input type="checkbox" name="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>

                <div class='hogar'>
                    <input type="checkbox" name="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>

                <div class='jugueteria'>
                    <input type="checkbox" name="jugueteria" id="jugueteria">
                    <label for="jugueteria">Juguetería</label>
                </div>

                <div class='vidaSana'>
                    <input type="checkbox" name="vidaSana" id="vidaSana">
                    <label for="vidaSana">Vida Sana</label>
                </div>
            </fieldset>
            <fieldset class="boton">
                <button type="submit">Registrarme</button>
            </fieldset>
        </form>
    </main>
    <!--Footer-->
    <footer>
        <figure>
            <img src="images/img-home-banner.jpg" alt="">
        </figure>
        <section class='pie'>
            <article>
                <h2>icono-uno</h2>
                <span class="iconos"><i class="fas fa-credit-card fa-2x"></i></span>
                <p class="negrita">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    7 puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <h2>icono-dos</h2>
                <span class="iconos"><i class="fas fa-gift fa-2x"></i></span>
                <p class="negrita">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <h2>icono-tres</h2>
                <span class="iconos"><i class="fas fa-user-shield fa-2x"></i></span>
                <p class="negrita">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>

            <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>


        </section>
    </footer>
</body>

</html>