form *{
    margin: 0 auto;
    border: none;       
}

fieldset.search{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 30%;
}

fieldset input, fieldset button{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin-top: 18px;  
}

fieldset button{
    background-color: #1259c3;
    color: white;
    justify-content: center;
    margin-bottom: 15px;
    
}

button:hover{
    background-color: #0022AA;
    animation: boton 500ms normal;
}

@keyframes boton{
    0%{background-color:#1259c3;}
    100%{background-color: #0022AA;}
}