main{
    background-attachment: #ebebeb;
}

main form{
    width: 50%;
    background-color: whitesmoke;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form fieldset{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: none;
}

fieldset input{
    display: flex;
    justify-content: start;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom:5%;
}

.perfil{
    display: flex;
    position: relative;
}

.buyer{ 
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
}

.seller {
    display: flex;
    align-items: center;
    position: absolute;
    right: 35px;
    bottom: 5px;
}

.buyer, .seller, .electro, .moda, .hogar, .jugueteria, .vidaSana{
    display: flex;
    flex-wrap: wrap;
}

legend{
    padding-top: 30px;
    font-weight: bold;
}

fieldset button{
    width:100px ;
    background-color: #1259c3;
    color: white;
    margin-bottom:10px;
    padding:5px;
    border:none;
    border-radius: 6px;
}

button:hover{
    background-color: #0022AA;
    animation: boton 500ms normal;
}

@keyframes boton{
    0%{background-color:#1259c3;}
    100%{background-color: #0022AA;}
}

@media (max-width:590px){

    .usuario input {
    width:35vmin ;
    }

    .nacimiento input {
    width:35vmin ;
    }
    .buyer, .seller{
    position:initial;
    display: flex;
    flex-wrap: wrap;
    }
}






    

 

